<!DOCTYPE html>

{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

{% if user.is_authenticated %}
  <h2> Halo, {{ user.username }}! </h2>
  <p><a href="{% url 'logout' %}">Log Out</a></p>

{% else %}
  <h2> Selamat datang di website Story 9! </h2>
  <a href="{% url 'login' %}">Log In</a>
  <a href="{% url 'story9:signup' %}">Sign Up</a>

{% endif %}

{% endblock %}